<div class="menu">
  <div class="left">
    <button routerLink="/home" routerLinkActive="active" type="button" class="btn btn-primary">Home</button>
    <button routerLink="/about" routerLinkActive="active" type="button" class="btn btn-primary">About</button>
    <button routerLink="/donate" routerLinkActive="active" type="button" class="btn btn-primary">Donate</button>
    <button routerLink="/account" routerLinkActive="active" type="button" class="btn btn-primary">Account</button>
  </div>
  <div class="right">
    <button type="button" class="btn btn-primary">Sign In</button>
  </div>
</div>